# These files are here to ensure they don't get accidentally committed.
*~
/.cache
/.config/aerc/accounts.conf
/.config/dunst/dunstrc
/.config/mailconf
/.config/mbsyncrc
/.local/etc/sv/*/supervise
/.local/state
/.mbsyncrc
/.zcompdump
/go
